span#scoreCorrect {
  color: green;
}

span#scoreWrong {
  color: red;
}

span.percentGood {
  color: green;
}

span.percentBad {
  color: red;
}

span.percentBest {
  color: blue;
}

.ui-footer {
  padding-left: 10px;
  padding-right: 10px;
}
.scorePanel {
  padding: 10px;
}

h1.prob {
  text-align: center;
}

div#home, div#auth, div#confOp, div#addExe, div#subExe, div#play {
  background-image: url("../img/splash.png");
}
