span#scoreCorrect {
  color: blue;
}

span#scoreWrong {
  color: red;
}

.ui-footer {
  padding-left: 10px;
  padding-right: 10px;
}
.scorePanel {
  padding: 10px;
}

h1.prob {
  text-align: center;
}
