div#login {
}

li {
    margin-left: 0;
    border-left: none;
    list-style: none;
}

button.user {
    width: 10em;
    height: 3em;
    margin-top: 0.2em;
}

table.report, table.reportStat {
    border: 1px solid black;
    border-collapse: collapse;
}

table.report td, table.reportStat td {
    border: 1px solid black;
    padding: 0.5em;
}
